body {
    overflow: hidden;
}

.layout {
    padding: 15px;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    height: calc(100vh - 50px);
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 30px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    gap: 10px;
    color: white;
}
.menu-item:hover {
    background-color: var(--secondary);
    color: black;
    border-radius: 10px;

}
.active-menu-item{
    border: 2px solid;
    border-radius: 10px;
}

.body {
    width: 100%;
}

.header {
    background-color: var(--primary);
    color: white !important;
    width: calc(100% - 30px);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}
.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.ri-close-large-line, .ri-menu-line {
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.ri-close-large-line, .ri-menu-line {
    transition: transform 0.3s ease-in-out;
}

.ri-close-large-line:hover, .ri-menu-line:hover {
    transform: scale(1.3);
}

.ri-close-large-line:active, .ri-menu-line:active {
    transform: scale(0.5);
}
