:root {
    --primary: #9934e3;
    --secondary: #BFFF00;
    --success: #6fbf71;
    --info: #00bcd4;
    --warning: #e47943;
    --danger: #f44336;
    --light: #FFF7F1;
    --dark: #070F2B;
}
body {
    margin: 0;
    padding: 0;
}
@keyframes backgroundAnimation {
    0% {
        background-color: var(--primary);
    }
    50% {
        background-color: var(--secondary);
    }
    100% {
        background-color: var(--primary);
    }
}

.bg-primary1 {
    animation: backgroundAnimation 5s infinite;
}

.bg-primary{
    background-color: var(--primary) !important;
}
.bg-white{
    background-color: #fff !important;
}
.text-white{
    color: white !important;
}

.bg-success{
    background-color: var(--success);
}

.bg-error{
    background-color: var(--warning);
}
.Button {
    background-image: linear-gradient(#9E8AC5, #8E7AB5, #7E6A95);
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Button:hover {
    background-image: linear-gradient(#7E6A95, #8E7AB5, #9E8AC5);
}

.Button2 {
    background: linear-gradient(to right, yellow, orange);
    color: black;
    border: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}
.Button2:hover {
    background-color: var(--primary);
    color: white;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

